<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdministracion" />
        <binding name="BasicHttpBinding_IAlojamiento" />
        <binding name="BasicHttpBinding_IReservas" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49486/Administracion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministracion"
        contract="ServicioAdministracion.IAdministracion" name="BasicHttpBinding_IAdministracion" />
      <endpoint address="http://localhost:49486/Alojamiento.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAlojamiento" contract="ServicioAlojamiento.IAlojamiento"
        name="BasicHttpBinding_IAlojamiento" />
      <endpoint address="http://localhost:49486/Reservas.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReservas" contract="ServicioReservas.IReservas"
        name="BasicHttpBinding_IReservas" />
    </client>
  </system.serviceModel>
</configuration>