<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientes" />
                <binding name="BasicHttpBinding_IPaises" />
                <binding name="BasicHttpBinding_ITiposDocumento" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49486/Clientes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientes" contract="ServicioClientes.IClientes"
                name="BasicHttpBinding_IClientes" />
            <endpoint address="http://localhost:49486/Paises.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPaises" contract="ServicioPaises.IPaises"
                name="BasicHttpBinding_IPaises" />
            <endpoint address="http://localhost:49486/TiposDocumento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITiposDocumento"
                contract="ServicioTiposDocumento.ITiposDocumento" name="BasicHttpBinding_ITiposDocumento" />
        </client>
    </system.serviceModel>
</configuration>
