<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientes" />
                <binding name="BasicHttpBinding_IAlojamiento" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49486/Clientes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientes" contract="ServicioClientes.IClientes"
                name="BasicHttpBinding_IClientes" />
            <endpoint address="http://localhost:49486/Alojamiento.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAlojamiento" contract="ServicioAlojamiento.IAlojamiento"
                name="BasicHttpBinding_IAlojamiento" />
        </client>
    </system.serviceModel>
</configuration>